@import url('https://fonts.googleapis.com/css?family=Lato|Righteous&display=swap');

div.disabled {
    overflow-x: hidden;
    overflow-y: scroll;
}

body{
	padding: 0%;
	margin: 0%;
	font-family: 'Lato';
	overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
}

html {
  scroll-behavior: smooth;
}

.mobile-show{
	display: none !important;
}

.navbar-section{
	
}
/*navbar section*/
.navbar-section .navbar-brand{
	font-family: 'Righteous';
	font-size: 35px;
	color: lightgreen !important;
}


.navbar-section .nav-item{
	font-size: 18px;
	margin: 10px;
	color: black !important;
	font-family: 'Righteous';

}

.navbar-section .nav-link{
	color: black !important;
}

.navbar-section .nav-link:hover{
	color: lightgreen !important;
}

.navbar-section .logo-img{
	width: 15%;
	padding: 10px;
}

.navbar-section .menu-right-btn{
	font-size: 65%;
    letter-spacing: .1rem;
    padding: 0.8rem;
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    border-radius: 1rem;
	margin-left: 10% !important;
	margin-right: 10px !important;
	box-shadow: 0 0.5rem 1rem 0 rgba(50, 50, 0, .5);
}

.navbar-section .menu-right-btn:hover{
	color: white;
	background-color: black;
	white-space: nowrap;
	border-radius: .7rem;
}

.navbar-section .my-navbar{
    background:white;
}

.typeform-share-1:hover{
	color: white !important;
	background-color: black !important;
	white-space: nowrap !important;
	border-radius: .7rem !important;
}

.typeform-share-2:hover{
	color: white !important;
	background-color: black !important;
	transition: all 50ms ease-in !important;
	border-radius: 15rem !important;
	font-size: 240% !important;
}

/*home section*/

.site-content {
	/*background-image: url('images/7.jpg');*/
	background-attachment: fixed;
	background-size: cover;
	background-position: 0px 0px;
}

.home-section .site-title, .site-desc{
	color: black;
	font-family: 'Righteous';
} 

.home-section .title-col{
	height: 50% !important;
}

.home-section .site-title{
	margin-top: 16%;
	margin-bottom: 6%;
	font-size: 80px;
	align-self: left;
	color: white;
}

.home-section .site-desc{
	margin-top: -5%;
	padding-left: 0%;
	font-size: 32px;
	width: 65%;
	color: white;
	align-self: center;
}

.home-section .site-btn1 {
    font-size: 100%;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 1rem;
	margin-top: 5%;
	/*margin-right: 700px !important;*/
	margin-bottom: 40%;
	margin-left: 0% !important;
	box-shadow: 0 0.5rem 1rem 0 rgba(50, 50, 0, .5);
}

.home-section .site-btn1:hover{
	color: white;
	background-color: black;
	transition: all 300ms ease-in;
	border-radius: .9rem;
	font-size: 110%;
}

/*highlights section*/

.highlights{
	height: 520px;
}

.highlights .card-img-top{
	width: 42%;
	margin-left: 30%;
	margin-top: 10%;
	margin-bottom: 5%;
}

.highlights .heading-1{
	margin-top: 20%;
	font-family: 'Righteous';
	font-size: 40px;
}

.highlights .para-1{
	opacity: 0.7;
	margin-bottom: 3%;
	font-size: 25px;
}

.highlights .card-text{
	font-size: 18px;
}

.highlights .card-title{
	font-family: 'Righteous';
	font-size: 20px;
}

.highlights .card{
	width: 15rem;
	margin-bottom: 80%;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.highlights .col-md-3{
	margin-left: 2%;
	margin-right: 2%;
	height: 400px !important;
}

.highlights .home1{
	margin-bottom: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1%;
}


/*data section*/

.data-section .container-fluid{
	/*background-image: url('images/28.jpg');*/
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
}

.data-section .heading-1, .para, .btn{
	margin-left: auto;
}

.data-section .heading-1{
	margin-top: 9%;
	margin-bottom: 3%;
	font-family: 'Righteous';
	font-size: 40px;
	width: 100%;
	color: white;
	display: inline-block;
}

.data-section .col-md-10{
	text-align: center;
}

.data-section .para{
	width: 90%;
	font-family: 'Lato';
	color: white;
	font-size: 15px;
	margin-bottom: 7%;
	line-height: 30px;
}


.data-section .data-img{
	width: 24%;
}

.data-section .card-body{
	text-align: left;
	width: 5rem;
	height: 13rem;
	margin-bottom: 3%;
	margin-right: 3%;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(34, 124, 14, 0.64);
}

.data-section .heading-2{
	margin-top: 3%;
	margin-bottom: 4%;
	font-family: 'Righteous';
	font-size: 19px;
	width: 100%;
	color: white;
}

.data-section .heading-2 .data-img, .data-text{
	display: inline-block;
}

.data-section .data-row{
	margin-left: 2%;
}

.data-section .para-1{
	font-size: 14px;
}

/*features section*/

.features{
	margin-top: 10%;
	margin-bottom: 10%;
}

.features .heading-1{
	font-family: 'Righteous';
}

.features i{
	color: lightgreen;
}

.features p.m-2{
	color: darkgrey;
	font-size: 85%;
	width: 90%;
}

.features .row{
	justify-content: center;
}

.features .card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  margin-top: 8%;
  height: 93%;
}

.features .col-md-4{
	padding-left: 8px;
	padding-right: 8px;
}

.features .features-title{
	font-size: 22px;
	font-family: 'Righteous';
}

.features .performance1{
	margin-top: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1%;
}


/*steps section*/


.steps{
	margin-top: 15%;
	margin-bottom: 15%;
}

.steps .heading-1{
	font-family: 'Righteous';
	margin-top: 5%;
	font-size: 50px;
}

.steps i{
	color: lightgreen;
}

.steps p{
	color: darkgrey;
}

.steps .para-1{
	margin-bottom: 5%;
	color: black;
	opacity: 0.7;
	font-size: 25px;
}
.steps .card-img-top{
	width:40%;
	margin-right: 45%;
}

.steps .card-body{
	font-size: 80%;
	width:100%;
	z-index: 0;
}

.steps .card{
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.steps .card-text{
	color: black;
	font-size: 17px;
	text-align: left;
	width: 75%;
}

.steps .blue-text{
	color: blue !important;
}

.steps .steps-arrow{
	display: none;
}

.steps .card-title{
	font-size: 32px;
	font-family: 'Righteous';
	text-align: left;
}

.steps .steps-arrow{
	color: black;
	position: absolute;
	z-index: 1;
	font-size: 60px;
	top: 60px;
	right: 0px;
	left: 170px;
	height: 100px;
	display: block;
}

.steps .steps-col{
	margin-bottom:0%;
	padding: 0%;
}


.steps .steps-container{
	margin-left: 7%;
}

.steps .insights1{
	margin-top: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1%;
}

/*pricing section*/

.pricing {
	/*background-image: url('images/16.jpg');*/
	background-attachment: fixed;
	background-size: cover;
	background-position: 0px 0px;
	height: 1050px;
}

.pricing .heading-1{
	font-family: 'Righteous';
	color: white;
	padding-top: 8%;
	font-size: 40px;
	margin-bottom: 5%;
	padding-top: 200px;
}
.pricing .heading-2{
	margin-top: 15%;
	padding: 10px;
	color: white;
}

.pricing .para-1{
	margin-bottom: 5%;
	opacity: 0.9;
	color: white;
	font-size: 15px;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.pricing .card-body{
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	padding: 3.5%;
	border: none;
    border-radius: 1rem;
    background-color: white;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
  color: white;
  margin-top: 3% !important;
  font-size: 20px;
}

.pricing .desc-card{
	background-color: rgba(24, 114, 4, 0.64);
	margin-top: 0%;
	padding: 5%;
}

.pricing .col-md-6{
	margin-top: 5%;
}

.pricing .card-title-2{
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.pricing .card-text{
	color: white;
}

.pricing .card-price {
  font-size: 3rem;
  margin-top: 5% !important;
}

.pricing .card-price .period {
  font-size: 1rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-center{
	margin-top: 10%;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.9;
  background-color: lightgreen;
  color: black;
  border: none;
  margin-bottom: 1%;
}

.pricing .btn:hover{
	color: white;
	background-color: black;
	font-size: 95%;
	transition: all 300ms ease-in;
}

.pricing .col-lg-4{
	margin-left: 16%;
}


/*comparison*/

.comparison {
	/*background-image: url('images/16.jpg');*/
	background-attachment: fixed;
	background-size: cover;
	background-position: 0px 0px;
	height: 1050px;
}

.comparison .heading-1{
	font-family: 'Righteous';
	color: white;
	padding-top: 22%;
	font-size: 60px;
	margin-bottom: 5%;
	align-self: center;
}
.comparison .heading-2{
	margin-top: 15%;
	padding: 10px;
	color: white;
}

.comparison .para-1{
	margin-bottom: 5%;
	opacity: 0.9;
	color: white;
	font-size: 15px;
}

.comparison .card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.comparison .card-body{
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	padding: 3.5%;
	border: none;
    border-radius: 1rem;
    background-color: white;
}

.comparison .competitor{
	font-size: 25px !important;
	padding: 19px;
	font-weight: bold;
}

.comparison .check-green{
	color: green;
}

.comparison .check-red{
	color: red;
}

.comparison hr {
  margin: 1.5rem 0;
}

.comparison .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
  color: white;
  margin-top: 3% !important;
  font-size: 20px;
}

.comparison .desc-card{
	background-color: rgba(24, 114, 4, 0.64);
	margin-top: 0%;
	padding: 5%;
}

.comparison .col-md-6{
	margin-top: 5%;
}

.comparison .card-title-2{
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.comparison .card-text{
	color: white;
}

.comparison .card-price {
  font-size: 3rem;
  margin-top: 5% !important;
}

.comparison .card-price .period {
  font-size: 0.8rem;
}

.comparison ul li {
  margin-bottom: 1rem;
}

.comparison li{
	font-size: 17px;
}

.comparison .text-center{
	margin-top: 10%;
}

.comparison .text-muted {
  opacity: 0.7;
}

.comparison .col-lg-4{
	margin-left: 0%;
}

.comparison .comparison-logo{
	width: 80%;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 0px;
}

.comparison .VS{
	padding: 10px;
	margin-top: 50px;
}

/*contact section*/

.contact-section .form-inline{
	margin-bottom: .5%;
}

.contact-section .footer-text{
	font-family: 'Lato';
	font-size: 15px;
	margin-bottom: 1%;
}

.contact-section .h1{
	margin-top: 10%;
}

.contact-section .btn {
    font-size: 80%;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.9;
    background-color: lightgreen;
    color: black;
    border: none;
    margin-bottom: 1%;
}

.contact-section .btn:hover{
	color: white;
	background-color: black;
	transition: all 100ms ease-in;
}

.contact-section .social i{
	color: lightgreen;
	font-size: 40px;
}

.contact-section .social i:hover{
	opacity: 0.7;
	color: black;
}

.footer .logo-img, .logo{
		width:250px;
		margin-bottom: 0%;
		margin-top: 1.2%;
	}

.footer	{
	background-color: black;
	height: 180px;
}
.footer .footer-text{
	position: relative;
	top: 20px;
}


.wow {
   visibility: hidden;
}



/********************************phones********************************************/

@media screen and (min-width: 359px) and (max-width: 500px){

	html,body{
		overflow-x: hidden;
	}
	body{
		position: relative;
	}
	.mobile-show{
		display: block !important;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 1%;
		margin-bottom: 10%;
	}

	.site-content{
		background-position: center;
	}
	.home-section .site-title{
		font-size: 35px;
		width: 80%;
		align-self: center;
	}
	.home-section .site-desc{
		font-size: 18px;
		width: 60%;
		align-self: center;
		margin-left: 0%;
	}
	.home-section .site-btn2{
		display: none;
	}
	.home-section .site-btn1{
		margin-left: 15%;
	}
	.home-section .nav-link:hover{
		color: lightgreen !important;
	}
	.navbar-section .logo-img{
		width:150px;
	}
	.highlights{
		height: 200%;
	}
	.highlights .heading-1{
		font-size: 60px;
	}

	.highlights .col-md-4{
		padding:5%;
		margin-left: 0%;
		margin-bottom: 0%;
	}

	.highlights .card{
		width:15rem;
		height: 97%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4%;
	}
	.highlights .para-1{
		font-size: 16px;
		margin-bottom: 15px;
	}
	.highlights .card-body{
		width:15rem;
		align-self: center;
		margin-right: 10%;
	}
	.highlights .card-title{
		font-size:30px;
		margin-left: 0%;
		width:15rem;
		text-align: left;
	}

	.highlights .card-text{
		width: 120%;
		text-align: left;
		font-size: 13px;
	}

	.highlights .card-img-top{
		margin-left: 95px;
		margin-right: auto;
		margin-bottom: 0%;
	}
	.highlights .col-md-3{
		margin-bottom: 5%;
	}

	.highlights .home1{
		display:none;
	}
	.data-section .heading-1{
		margin-top: 115px;
		margin-bottom: 20px;
		font-size: 38px;
	}
	.data-section .heading-2{
		font-size: 20px;
	}
	.data-section .card-body{
		height: 260px;
	}
	.data-section .data-img{
		width: 50%;
	}
	.data-section .para-1{
		width: 110%;
		font-size: 70%;
		margin-bottom: 0%;
	}
	.features .card{
		width: 95%;
		margin-left: 10px;
	}
	.features .heading-1{
		font-size: 35px;
	}
	.features .features-title{
		font-size: 130%;
		margin-top: 19px !important;
	}
	.features .performance1{
		display:none;
	}	
	.features .mobileperformance1{
		align-self: center;
		margin-top: 20%;
	}
	.steps .card-img-top{
		margin-left: auto;
		margin-right: auto;
	}
	.steps .steps-col{
		margin-right: 40px;
	}
	.steps .card-title{
		text-align: center;
	}
	.steps .steps-arrow{
		display: none;
	}
	.steps .heading-1{
		font-size: 32px;
		margin-top: 10%;
	}
	.steps .para-1{
		font-size: 15px;
	}
	.steps .card-text{
		align-self: center;
		text-align: center;
		width: 90%;
		/*margin-left: 15%;*/
		margin-left: 13.25px !important;
		margin-bottom: 5%;
		/*margin-right: 50px;*/
	}
	.steps .insights1{
		display: none;
	}
	.steps .mobileinsights1{
		align-self: center;
		margin-top: 10%;
		margin-left: 22px !important;
	}
	.pricing{
		height: 100%;
	}

	.pricing .heading-1{
		padding-top: 10% !important;
	}
	.pricing .desc-card{
		margin-bottom: 25px;
		margin-top: 15px;
	}
	.pricing .col-lg-4{
		margin-left: auto;
	}
	.comparison{
		height: 1200px;
	}

	.comparison .heading-1.VS{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.comparison .desc-card{
		margin-bottom: 25px;
		margin-top: 15px;
	}
	.comparison .col-lg-4{
		margin-left: auto;
	}

	.steps .card-img-top{
		margin-left: unset;
	}
	.steps .card-body{
		margin-left: unset;
	}
	.contact-section .form-control{
		padding-left: 4px !important;
		padding-right: 4px !important;
		width: 350px;
	}
	.contact-section .my-4{
		font-size: 99%;
	}
	.contact-section .btn{
		width: 30%;
		margin-top: 15px;
		font-size: 15px;
	}
	.footer .footer-text{
		padding-bottom: 3px;
	}
	.footer{
		height: 170px;
	}
	.footer .logo-img{
		margin-top: 30px;
	}

	footer input[type="button"]{
		margin-top: 5%;
	}
}
/*****************************end phones************************************/




/***********************************tablets********************************/
@media screen and (max-width: 769px) and (min-width: 600px){
	html,body{
		overflow-x: hidden;
	}
	body{
		position: relative;
	}
	.home-section .site-title, .site-desc, .site-btn1, .site-btn2{
		margin-left: 0%;
	}
	.home-section .site-desc{
		width:550px;
		margin-left: 105px;
	}
	.home-section .btn{
		font-size: 20px;
	}
	.navbar-section .logo-img{
		width:250px;
	}	
	.highlights .col-md-3{
		width: 15rem;
		margin-right: 150px;
		margin-left: 0%;
		height: 375px !important;

	}
	.highlights{
		height: 960px;
	}
	.highlights .heading-1{
		font-size: 50px;
	}
	.highlights .para-1{
		margin-bottom: 5%;
		font-size: 25px;
	}
	.highlights .card{
		width: 150px;
	}
	.highlights .card-title .card-text{
		width: 150px;
		font-size: 80%;
	}
	.highlights .home1{
		display: none;
	}

	.data-section .card-body{
		height: 290px;
	}
	.data-section .para-1{
		width: 107px;
		font-size: 13px;
	}
	.data-section .data-img{
		width: 50%;
	}
	.data-section .heading-1{
		font-size: 50px;
	}
	.data-section .container-fluid{
		height: 850px !important;
	}
	.features .card{
		width:120%;
	}
	.features .col-md-4{
		margin-right: 7%;
	}
	.features .features-title{
		font-size: 25px;
	}
	.features .m-2{
		margin-bottom: 15px !important;
	}
	.features .performance1{
		display: none;
	}

	.comparison{
		height: 1400px;
	}

	.comparison .comparison-logo{
		width: 50%;
		margin-left: 150px;
	}

	.comparison .competitor{
		font-size: 40px !important;
	}

	.comparison li{
		font-size: 20px;
	}

	.comparison .heading-1.VS{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.comparison .desc-card{
		margin-bottom: 25px;
		margin-top: 15px;
	}
	.comparison .col-lg-4{
		margin-left: auto;
	}

	.steps .steps-arrow{
		display: none;
	}

	.steps .card-body{
		width: 240px;
	}
	.steps .card-img-top{
		margin-right: auto;
		width: 100px;
	}
	.steps .card-text{
		text-align: left;
		margin-right: 10px !important;
	}
	.steps .steps-col{
		margin-right: 0px;
	}
	.steps .steps-container{
		margin-left: 0%;
	}
	.steps .card-title{
		font-size: 21px;
	}
	.steps .insights1{
		display: none;
	}

	.pricing{
		height: 870px;
	}
	.pricing .heading-1{
		font-size: 50px;
	}
	.pricing li{
		font-size: 20px;
	}
	.pricing .btn{
		font-size: 20px;
	}
	.pricing .card-price{
		font-size: 70px;
		margin-top: 5px !important;
	}
	.pricing span.period{
		font-size: 20px !important;
	}
	.pricing .card-body{
		margin-left: -115px;
	}
	.pricing .desc-card{
		margin-left: 130px;
		margin-right: 50px;
		margin-top: 20px;
		width: 400px;
	}
	.pricing .col-md-8{
		width: 120%;
	}
	.footer .logo-img{
		margin-top: 20px;
	}

}
/****************************************end tablets*************************************/
